# Feature Engineering

IMDb, acronym for Internet Movie Database, is a website owned by Amazon.com where users can look for details about movies and TV shows: plot summaries, users reviews, genre, director and cast are just some of the attributes stored on IMDb. 

The goal of this project is to predict the rating of a given movie using properly trained Machine Learning models and evaluate the goodness of the predictions.
The chosen dataset was made available on the Kaggle platform and it contains the top 100 movies between 2003 - 2022. 

Dataset: https://www.kaggle.com/datasets/georgescutelnicu/top-100-popular-movies-from-2003-to-2022-imdb

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import cpi

## 1. Understanding the Data

In [2]:
dataset_raw = pd.read_csv('movies.csv')
dataset_raw.head(2)

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,"$350,000,000","$2,267,946,983",United States
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,"$35,000,000","$108,967","United States, Mexico, France"

### 3.4. Budget & Income: Turning into USD currency (VEDA)

In [3]:
dataset_processed_finance = dataset_raw

# Checking for how the finance data looks
budget_values = dataset_processed_finance['Budget'].unique()
income_values = dataset_processed_finance['Income'].unique()

#print(f'Budget values: {budget_values}')
#print(f'Income values: {income_values}')

'''There are unconsistencies in how the values are writen, extra 
# spaces etc. Also presence of 'Unknown'''

# 2. Getting number of movies with uknown runtime
unknown_budget_currency = dataset_processed_finance['Budget'].value_counts()['Unknown']
unknown_income_currency = dataset_processed_finance['Income'].value_counts()['Unknown']

missing_budget_values = dataset_processed_finance['Budget'].isnull().sum()
missing_income_values = dataset_processed_finance['Income'].isnull().sum()

print(f'Number of movies with unknown budget: {unknown_budget_currency}')
print(f'Number of movies with empty budget: {missing_budget_values}')
print(f'Number of movies with unknown income: {unknown_income_currency}')
print(f'Number of movies with empty budget: {missing_income_values}')

Number of movies with unknown budget: 304
Number of movies with empty budget: 0
Number of movies with unknown income: 145
Number of movies with empty budget: 0

In [4]:
# 3. Dropping all movies without a budget
dataset_processed_finance = dataset_processed_finance.drop(dataset_processed_finance[dataset_processed_finance['Budget'].isin(['Unknown'])].index)

# 4. Checking the dataset shape
print('-----------------------------')
print(f'Current number of columns (Budget): {dataset_processed_finance.shape[1]}')
print(f'Current number of rows (Budget): {dataset_processed_finance.shape[0]}')


# 5. Dropping all movies without a income
dataset_processed_finance = dataset_processed_finance.drop(dataset_processed_finance[dataset_processed_finance['Income'].isin(['Unknown'])].index)

# 6. Checking the dataset shape
print('-----------------------------')
print(f'Current number of columns (Income): {dataset_processed_finance.shape[1]}')
print(f'Current number of rows (Income): {dataset_processed_finance.shape[0]}')

-----------------------------
Current number of columns (Budget): 13
Current number of rows (Budget): 1696
-----------------------------
Current number of columns (Income): 13
Current number of rows (Income): 1651

In [5]:
# Conversion function (converts currency and to float)
def convert_to_usd(amount):
    amount.replace(' ', '')
    amount.replace('\xa0', '')
    if amount.startswith('$'):
        amount = amount.strip('$').replace(',', '')   # must remove commas
        return float(amount)   # convert str into float
    elif amount.startswith('€'):
        # Exchange rate for EUR to USD
        amount = amount.strip('€').replace(',', '')
        return float(amount) * 1.06 
    elif amount.startswith('¥'):
        # Exchange rate for YEN to USD
        amount = amount.strip('¥').replace(',', '')
        return float(amount) * 0.0075
    elif amount.startswith('₹'):
        # Exchange rate for RPL to USD
        amount = amount.strip('₹').replace(',', '')
        return float(amount) * 0.012 
    elif amount.startswith('SEK'):
        # Exchange rate for SEK to USD
        amount = amount.strip('SEK').replace(',', '')
        return float(amount) * 0.094
    elif amount.startswith('DKK'):
        # Exchange rate for RPL to USD
        amount = amount.strip('DKK').replace(',', '')
        return float(amount) * 0.14
    elif amount.startswith('£'):
        # Exchange rate for RPL to USD
        amount = amount.strip('£').replace(',', '')
        return float(amount) * 1.21  
    else:
        return None

In [6]:
# 7. Applying the conversion function
dataset_processed_finance['Budget'] = dataset_processed_finance['Budget'].apply(convert_to_usd)
dataset_processed_finance['Income'] = dataset_processed_finance['Income'].apply(convert_to_usd)

dataset_processed_finance.info()  # 9 missing values in Budget

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1651 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              1651 non-null   object
 1   Rating             1651 non-null   float64
 2   Year               1651 non-null   int64
 3   Month              1651 non-null   object
 4   Certificate        1646 non-null   object
 5   Runtime            1651 non-null   object
 6   Directors          1651 non-null   object
 7   Stars              1651 non-null   object
 8   Genre              1651 non-null   object
 9   Filming_location   1651 non-null   object
 10  Budget             1642 non-null   float64
 11  Income             1651 non-null   float64
 12  Country_of_origin  1651 non-null   object
dtypes: float64(3), int64(1), object(9)
memory usage: 180.6+ KB

In [7]:
# 8. Removing 9 titles with empty budget values 
dataset_processed_finance = dataset_processed_finance.dropna(axis=0, subset=['Budget'])

# 9. Checking the dataset shape
print('-----------------------------')
print(f'Current number of columns: {dataset_processed_finance.shape[1]}')
print(f'Current number of rows: {dataset_processed_finance.shape[0]}')

-----------------------------
Current number of columns: 13
Current number of rows: 1642

In [8]:
dataset_processed_1 = dataset_processed_finance

In [9]:
dataset_processed_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1642 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              1642 non-null   object
 1   Rating             1642 non-null   float64
 2   Year               1642 non-null   int64
 3   Month              1642 non-null   object
 4   Certificate        1637 non-null   object
 5   Runtime            1642 non-null   object
 6   Directors          1642 non-null   object
 7   Stars              1642 non-null   object
 8   Genre              1642 non-null   object
 9   Filming_location   1642 non-null   object
 10  Budget             1642 non-null   float64
 11  Income             1642 non-null   float64
 12  Country_of_origin  1642 non-null   object
dtypes: float64(3), int64(1), object(9)
memory usage: 179.6+ KB

In [10]:
dataset_processed_1.head()

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,350000000.0,2.267947e+09,United States
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,35000000.0,1.089670e+05,"United States, Mexico, France"
2,Bullet Train,7.3,2022,August,R,127,David Leitch,"Brad Pitt, Joey King, Aaron Taylor Johnson, Br...","Action, Comedy, Thriller",Japan,85900000.0,2.392686e+08,"Japan, United States"
4,M3gan,6.4,2022,December,PG-13,102,Gerard Johnstone,"Jenna Davis, Amie Donald, Allison Williams, Vi...","Horror, Sci-Fi, Thriller",New Zealand,12000000.0,1.712539e+08,United States
6,Amsterdam,6.1,2022,October,R,134,David O Russell,"Christian Bale, Margot Robbie, John David Wash...","Comedy, Drama, History",USA,80000000.0,3.124581e+07,"United States, Japan"

### Adjusting income & budget based on realease year and inflation
Why? Otherwise will newrealses have a bigger inpact on the model than older ones.
Since the inflation isn´t linear, I found a librar called cpi, where you give year and amount and get back how much that would be in dollars in 2022(guess thats when the library is from and not yet updated but not a biggie for our model)

In [11]:
#loop through the rows in the dataset
for index, row in dataset_processed_1.iterrows():
    # calculate the budget with inflation included
    budget_inf = cpi.inflate(row['Budget'], row['Year'])
    # save the result in a new column named 'budget_inf'
    dataset_processed_1.at[index, 'budget_inf'] = budget_inf
    
    # calculate the income with inflation included
    income_inf = cpi.inflate(row['Income'], row['Year'])
    # save the result in a new column named 'income_inf'
    dataset_processed_1.at[index, 'income_inf'] = income_inf

In [12]:
dataset_processed_1.head(120)

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin,budget_inf,income_inf
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,350000000.0,2.267947e+09,United States,3.500000e+08,2.267947e+09
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,35000000.0,1.089670e+05,"United States, Mexico, France",3.500000e+07,1.089670e+05
2,Bullet Train,7.3,2022,August,R,127,David Leitch,"Brad Pitt, Joey King, Aaron Taylor Johnson, Br...","Action, Comedy, Thriller",Japan,85900000.0,2.392686e+08,"Japan, United States",8.590000e+07,2.392686e+08
4,M3gan,6.4,2022,December,PG-13,102,Gerard Johnstone,"Jenna Davis, Amie Donald, Allison Williams, Vi...","Horror, Sci-Fi, Thriller",New Zealand,12000000.0,1.712539e+08,United States,1.200000e+07,1.712539e+08
6,Amsterdam,6.1,2022,October,R,134,David O Russell,"Christian Bale, Margot Robbie, John David Wash...","Comedy, Drama, History",USA,80000000.0,3.124581e+07,"United States, Japan",8.000000e+07,3.124581e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,Nomadland,7.3,2020,February,R,107,Chlo Zhao,"Frances McDormand, David Strathairn, Linda May...",Drama,USA,5000000.0,3.945821e+07,United States,5.653836e+06,4.461805e+07
248,The King of Staten Island,7.1,2020,June,R,136,Judd Apatow,"Pete Davidson, Bel Powley, Ricky Velez, Lou Wi...","Comedy, Drama",Unknown,35000000.0,2.180452e+06,"United States, China",3.957685e+07,2.465584e+06
254,2 Hearts,6.3,2020,October,PG-13,101,Lance Hool,"Jacob Elordi, Adan Canto, Tiera Skovbye, Radha...","Drama, Romance",Canada,15000000.0,1.349286e+06,United States,1.696151e+07,1.525728e+06
255,Bloodshot,5.7,2020,March,PG-13,109,Dave Wilson,"Vin Diesel, Eiza Gonz lez, Sam Heughan, Toby K...","Action, Adventure, Sci-Fi",Canada,45000000.0,3.986112e+07,United States,5.088453e+07,4.507365e+07
258,Greenland,6.4,2020,December,PG-13,119,Ric Roman Waugh,"Gerard Butler, Morena Baccarin, Roger Dale Flo...","Action, Thriller",Iceland,34000000.0,5.230000e+07,"United States, United Kingdom",3.844609e+07,5.913913e+07

# Looking for outliers
### Look at ROI for the movies
Return on investment

In [13]:
#loop through the rows in the dataset
for index, row in dataset_processed_1.iterrows():
    # calculate the roi in percentage
    roi_inf = ((row['income_inf'] - row['budget_inf']) / row['budget_inf']) * 100
    # save the result in a new column named 'budget_inf'
    dataset_processed_1.at[index, 'roi_inf'] = roi_inf

In [14]:
dataset_processed_1.head(120)

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin,budget_inf,income_inf,roi_inf
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,350000000.0,2.267947e+09,United States,3.500000e+08,2.267947e+09,547.984852
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,35000000.0,1.089670e+05,"United States, Mexico, France",3.500000e+07,1.089670e+05,-99.688666
2,Bullet Train,7.3,2022,August,R,127,David Leitch,"Brad Pitt, Joey King, Aaron Taylor Johnson, Br...","Action, Comedy, Thriller",Japan,85900000.0,2.392686e+08,"Japan, United States",8.590000e+07,2.392686e+08,178.543192
4,M3gan,6.4,2022,December,PG-13,102,Gerard Johnstone,"Jenna Davis, Amie Donald, Allison Williams, Vi...","Horror, Sci-Fi, Thriller",New Zealand,12000000.0,1.712539e+08,United States,1.200000e+07,1.712539e+08,1327.115917
6,Amsterdam,6.1,2022,October,R,134,David O Russell,"Christian Bale, Margot Robbie, John David Wash...","Comedy, Drama, History",USA,80000000.0,3.124581e+07,"United States, Japan",8.000000e+07,3.124581e+07,-60.942737
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,Nomadland,7.3,2020,February,R,107,Chlo Zhao,"Frances McDormand, David Strathairn, Linda May...",Drama,USA,5000000.0,3.945821e+07,United States,5.653836e+06,4.461805e+07,689.164140
248,The King of Staten Island,7.1,2020,June,R,136,Judd Apatow,"Pete Davidson, Bel Powley, Ricky Velez, Lou Wi...","Comedy, Drama",Unknown,35000000.0,2.180452e+06,"United States, China",3.957685e+07,2.465584e+06,-93.770137
254,2 Hearts,6.3,2020,October,PG-13,101,Lance Hool,"Jacob Elordi, Adan Canto, Tiera Skovbye, Radha...","Drama, Romance",Canada,15000000.0,1.349286e+06,United States,1.696151e+07,1.525728e+06,-91.004760
255,Bloodshot,5.7,2020,March,PG-13,109,Dave Wilson,"Vin Diesel, Eiza Gonz lez, Sam Heughan, Toby K...","Action, Adventure, Sci-Fi",Canada,45000000.0,3.986112e+07,United States,5.088453e+07,4.507365e+07,-11.419738
258,Greenland,6.4,2020,December,PG-13,119,Ric Roman Waugh,"Gerard Butler, Morena Baccarin, Roger Dale Flo...","Action, Thriller",Iceland,34000000.0,5.230000e+07,"United States, United Kingdom",3.844609e+07,5.913913e+07,53.823529

In [15]:
#Trying to find outliers in the data that can mess up the model
print(dataset_processed_1['roi_inf'].mean())
print(dataset_processed_1['roi_inf'].max())
print(dataset_processed_1['roi_inf'].min())

11153.633623393485
16436555.231560891
-99.975098

In [19]:
dataset_processed_2 = dataset_processed_1.sort_values(by='roi_inf', ascending=True)

In [20]:
dataset_processed_2.head(120)

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin,budget_inf,income_inf,roi_inf
26,Pinocchio,5.1,2022,September,PG,105,Robert Zemeckis,"Joseph Gordon Levitt, Tom Hanks, Benjamin Evan...","Adventure, Comedy, Drama",Italy,150000000.0,37353.0,United States,1.500000e+08,3.735300e+04,-99.975098
59,White Noise,6.6,2022,December,R,136,Noah Baumbach,"Adam Driver, Greta Gerwig, Don Cheadle, Madiso...","Comedy, Drama, Horror",USA,80000000.0,70459.0,"United States, United Kingdom",8.000000e+07,7.045900e+04,-99.911926
1439,The Lazarus Project,6.1,2008,2008,PG-13,100,John Glenn,"Paul Walker, Piper Perabo, Brooklynn Proulx, B...","Drama, Mystery, Thriller",Canada,9750000.0,9162.0,"United States, Canada, United Kingdom",1.325289e+07,1.245364e+04,-99.906031
1366,Blood and Bone,6.7,2009,September,R,93,Ben Ramsey,"Michael Jai White, Julian Sands, Eamonn Walker...","Action, Crime, Drama",USA,3700000.0,3492.0,United States,5.047258e+06,4.763520e+03,-99.905622
146,Red Notice,6.3,2021,November,PG-13,118,Rawson Marshall Thurber,"Dwayne Johnson, Ryan Reynolds, Gal Gadot, Ritu...","Action, Comedy, Thriller",Italy,160000000.0,178143.0,United States,1.728044e+08,1.923993e+05,-99.888661
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49,Strange World,5.1,2022,November,PG,102,"Don Hall, Qui Nguyen","Jake Gyllenhaal, Jaboukie Young White, Gabriel...","Animation, Action, Adventure",USA,120000000.0,62170845.0,United States,1.200000e+08,6.217084e+07,-48.190963
669,Silence,7.1,2016,January,R,161,Martin Scorsese,"Andrew Garfield, Adam Driver, Liam Neeson, Tad...","Drama, History",Taiwan,46000000.0,23834809.0,"United States, United Kingdom, Taiwan, Japan, ...",5.609057e+07,2.906322e+07,-48.185198
886,Vampire Academy,5.4,2014,February,PG-13,104,Mark Waters,"Zoey Deutch, Lucy Fry, Danila Kozlovskiy, Gabr...","Action, Comedy, Drama",UK,30000000.0,15642346.0,"United States, United Kingdom",3.708625e+07,1.933720e+07,-47.858847
1543,Funny Games,6.5,2007,April,R,111,Michael Haneke,"Naomi Watts, Tim Roth, Michael Pitt, Brady Corbet","Crime, Drama, Thriller",USA,15000000.0,7938872.0,"United States, France, United Kingdom, Austria...",2.117190e+07,1.120540e+07,-47.074187
589,Thoroughbreds,6.6,2017,March,R,92,Cory Finley,"Olivia Cooke, Anya Taylor Joy, Anton Yelchin, ...","Comedy, Crime, Drama",USA,6000000.0,3187255.0,United States,7.163553e+06,3.805345e+06,-46.879083

#  5 movies with the ROI of -99.9%
Seems unlikely that the income-numbers are correct?

In [21]:
dataset_processed_2 = dataset_processed_1.sort_values(by='roi_inf', ascending=False)

In [22]:
dataset_processed_2.head(120)

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin,budget_inf,income_inf,roi_inf
487,Trautmann,7.2,2018,October,NaN,120,Marcus H Rosenm ller,"David Kross, Freya Mavor, John Henshaw, Harry ...","Biography, Drama, Romance",Northern Ireland,11.66,1916514.0,"United Kingdom, Germany",1.358926e+01,2.233619e+06,1.643656e+07
1557,Paranormal Activity,6.3,2007,October,R,86,Oren Peli,"Katie Featherston, Micah Sloat, Mark Fredrichs...","Horror, Mystery",USA,15000.00,193355800.0,United States,2.117190e+04,2.729140e+08,1.288939e+06
1583,Once,7.8,2007,June,R,86,John Carney,"Glen Hansard, Mark ta Irglov , Hugh Walsh, Ger...","Drama, Music, Romance",Ireland,150000.00,20936722.0,"Ireland, United States",2.117190e+05,2.955135e+07,1.385781e+04
627,Your Name.,8.4,2016,April,PG,106,Makoto Shinkai,"Ry nosuke Kamiki, Mone Kamishiraishi, Ry Narit...","Animation, Drama, Fantasy",Unknown,2775000.00,358180115.0,Japan,3.383725e+06,4.367506e+08,1.280739e+04
1811,Napoleon Dynamite,6.9,2004,August,PG,96,Jared Hess,"Jon Heder, Efren Ramirez, Jon Gries, Aaron Ruell",Comedy,USA,400000.00,46138887.0,United States,6.197035e+05,7.148108e+07,1.143472e+04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,The VVitch: A New-England Folktale,6.9,2015,February,R,92,Robert Eggers,"Anya Taylor Joy, Ralph Ineson, Kate Dickie, Ju...","Drama, Fantasy, Horror",Canada,4000000.00,40423945.0,"United States, Canada, United Kingdom",4.938971e+06,4.991317e+07,9.105986e+02
31,Barbarian,7.1,2022,September,R,102,Zach Cregger,"Georgina Campbell, Bill Skarsg rd, Justin Long...","Horror, Mystery, Thriller",Bulgaria,4500000.00,45352337.0,United States,4.500000e+06,4.535234e+07,9.078297e+02
508,The Shape of Water,7.3,2017,December,R,123,Guillermo del Toro,"Sally Hawkins, Octavia Spencer, Michael Shanno...","Drama, Fantasy, Romance",Canada,19400000.00,195333312.0,"United States, Mexico",2.316215e+07,2.332134e+08,9.068727e+02
1917,Finding Nemo,8.2,2003,May,G,100,"Andrew Stanton, Lee Unkrich","Albert Brooks, Ellen DeGeneres, Alexander Goul...","Animation, Adventure, Comedy",USA,94000000.00,940352645.0,United States,1.495085e+08,1.495646e+09,9.003752e+02
732,Pitch Perfect 2,6.4,2015,May,PG-13,115,Elizabeth Banks,"Anna Kendrick, Rebel Wilson, Hailee Steinfeld,...","Comedy, Music",USA,29000000.00,287144079.0,United States,3.580754e+07,3.545490e+08,8.901520e+02

#  2 movies with strange budgets
number1, budget of $11 obv wrong in dataset

number2, Paranormal Activity, accordingly had a budget of $15k, which is superunlikely

Suggest solution:
Remove roi-outliers by filtering budgets & Roi
budget -min 100 000 $ (no reason to have uperlimit, movies can cost endless of money)
roi -min -95% (rather inspect dataset and look for weird stuff than set an upperlimit, since a movie can generate tons and tons of movie.)

In [31]:
##dataset_processed_outliers_roi = dataset_processed_outliers_roi[dataset_processed_2['roi_inf'] > -95]