### Importing Libraries

In [1]:
import pandas as pd
#import cpi #library for inflation-data
df = pd.read_csv('C:/Users/admin1/Documents/GitHub/ds22_project/data/movies.csv')

#### 11.1 Remove non numeric charcharters

In [2]:
# remove non-numeric characters from the column (currency-characters mostly but also all values like 'unknown' or such)
df['Budget'] = df['Budget'].replace('[^0-9]', '', regex=True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              2000 non-null   object
 1   Rating             1999 non-null   float64
 2   Year               2000 non-null   int64
 3   Month              2000 non-null   object
 4   Certificate        1966 non-null   object
 5   Runtime            2000 non-null   object
 6   Directors          2000 non-null   object
 7   Stars              2000 non-null   object
 8   Genre              2000 non-null   object
 9   Filming_location   2000 non-null   object
 10  Budget             1696 non-null   float64
 11  Income             2000 non-null   object
 12  Country_of_origin  2000 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 203.2+ KB

In [6]:
# Multiply all numeric values in col1 by 10 and leave non-numeric values unchanged
df['Budget'] = pd.to_numeric(df['Budget'], errors='coerce') * 25
df['Budget'] = df['Budget'].fillna('')

print(df)

0    350000000.0
1     35000000.0
2     85900000.0
3            NaN
4     12000000.0
Name: Budget, dtype: float64