### Importing Libraries

In [ ]:
import pandas as pd
import numpy as np
#CHANGE YOUR PATH FOR THE DATASET
df = pd.read_csv('C:/Users/admin1/Documents/GitHub/ds22_project/data/movies.csv')

### Functions

In [ ]:
def convert_to_usd(amount):
    amount.replace(' ', '')
    amount.replace('\xa0', '')
    if amount.startswith('$'):
        amount = amount.strip('$').replace(',', '')   # must remove commas
        return float(amount)   # convert str into float
    elif amount.startswith('€'):
        # Exchange rate for EUR to USD
        amount = amount.strip('€').replace(',', '')
        return float(amount) * 1.06 
    elif amount.startswith('¥'):
        # Exchange rate for YEN to USD
        amount = amount.strip('¥').replace(',', '')
        return float(amount) * 0.0075
    elif amount.startswith('₹'):
        # Exchange rate for RPL to USD
        amount = amount.strip('₹').replace(',', '')
        return float(amount) * 0.012 
    elif amount.startswith('SEK'):
        # Exchange rate for SEK to USD
        amount = amount.strip('SEK').replace(',', '')
        return float(amount) * 0.094
    elif amount.startswith('DKK'):
        # Exchange rate for RPL to USD
        amount = amount.strip('DKK').replace(',', '')
        return float(amount) * 0.14
    elif amount.startswith('£'):
        # Exchange rate for RPL to USD
        amount = amount.strip('£').replace(',', '')
        return float(amount) * 1.21  
    else:
        return None

In [ ]:
df.head(4)

In [ ]:
#1.1 convert to USD and strip of non numeric characters
df['Budget'] = df['Budget'].apply(convert_to_usd)

In [ ]:
#1.1 convert to USD and strip of non numeric characters
df['Income'] = df['Income'].apply(convert_to_usd)

In [ ]:
df.info()

In [ ]:
#checking the change
df.head(4)

All non-numeric values in both budget & income has been coverted to NaN

In [ ]:
# count non-numeric values in each column
non_numeric_col1 = pd.to_numeric(df['Budget'], errors='coerce').isna()
non_numeric_col2 = pd.to_numeric(df['Income'], errors='coerce').isna()

# create a variable for rows where Budget AND Income is non numeric
non_numeric_both = non_numeric_col1 & non_numeric_col2



print(f"Missing value Budget: {sum(non_numeric_col1)}")
print(f"Missing value Income: {sum(non_numeric_col2)}")
print(f"Missing value Budget+Income: {sum(non_numeric_both)}")

In [ ]:
# drop rows where both columns contain non-numeric values from the original DataFrame
#df = df[~non_numeric_both]