21 march 2023, tisdag
Dataset link from kaggle. Testing out if it works out the same way or giving same errors. 
https://www.kaggle.com/datasets/georgescutelnicu/top-100-popular-movies-from-2003-to-2022-imdb

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = pd.read_csv('movies.csv')

In [ ]:
df.head(5)

In [ ]:
df.describe()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              2000 non-null   object
 1   Rating             1999 non-null   float64
 2   Year               2000 non-null   int64
 3   Month              2000 non-null   object
 4   Certificate        1966 non-null   object
 5   Runtime            2000 non-null   object
 6   Directors          2000 non-null   object
 7   Stars              2000 non-null   object
 8   Genre              2000 non-null   object
 9   Filming_location   2000 non-null   object
 10  Budget             2000 non-null   object
 11  Income             2000 non-null   object
 12  Country_of_origin  2000 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 203.2+ KB

In [ ]:
df.shape

In [ ]:
df.isna().sum()

In [ ]:
# There is a movie without rating! Lets find out
movie_wo_rating = df[df['Rating'].isna()]['Title']
print(f' Movie without rating: {movie_wo_rating}')

In [ ]:
drop_this = df[df['Title'] == 'A Man Called Otto'].index

df= df.drop(drop_this)

df= df.drop(['Certificate'], axis=1)

print(f'Current number of rows: {df.shape[0]}')
print(f'Current number of columns: {df.shape[1]}')

In [7]:
#your goal here is to drop all the null value in the column rating.
#ThereÂ´s a simple way to do that

#drop_this = df[df['Title'] == 'A Man Called Otto'].index
#df= df.drop(drop_this)

# drop all null values from 'rating'
df.dropna(subset=['Rating'], inplace=True)

In [9]:
#check if the column is gone
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1999 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              1999 non-null   object
 1   Rating             1999 non-null   float64
 2   Year               1999 non-null   int64
 3   Month              1999 non-null   object
 4   Certificate        1965 non-null   object
 5   Runtime            1999 non-null   object
 6   Directors          1999 non-null   object
 7   Stars              1999 non-null   object
 8   Genre              1999 non-null   object
 9   Filming_location   1999 non-null   object
 10  Budget             1999 non-null   object
 11  Income             1999 non-null   object
 12  Country_of_origin  1999 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 218.6+ KB

In [11]:
df= df.drop(['Certificate'], axis=1)

print(f'Current number of rows: {df.shape[0]}')
print(f'Current number of columns: {df.shape[1]}')

KeyError: "['Certificate'] not found in axis"

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1999 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              1999 non-null   object
 1   Rating             1999 non-null   float64
 2   Year               1999 non-null   int64
 3   Month              1999 non-null   object
 4   Runtime            1999 non-null   object
 5   Directors          1999 non-null   object
 6   Stars              1999 non-null   object
 7   Genre              1999 non-null   object
 8   Filming_location   1999 non-null   object
 9   Budget             1999 non-null   object
 10  Income             1999 non-null   object
 11  Country_of_origin  1999 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 203.0+ KB

In [15]:
#df.isnull().any().info()

#to check number of null values for each column
df.isnull().sum()

Title                0
Rating               0
Year                 0
Month                0
Runtime              0
Directors            0
Stars                0
Genre                0
Filming_location     0
Budget               0
Income               0
Country_of_origin    0
dtype: int64

In [ ]:
#This did not work out well // Excluded Ratings column due to dropna()
columns = df.loc[:, df.notna().all()]

for column_header in columns:
    print(column_header)

In [ ]:
df.info()

In [16]:
#Double checking on different code with rows are 'Unknown'

df_unknown_values = df[(df['Budget']=='Unknown')]

#| (df['Income']=='Unknown')]

In [17]:
df.head(2)

,Title,Rating,Year,Month,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
0,Avatar: The Way of Water,7.8,2022,December,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,"$350,000,000","$2,267,946,983",United States
1,Guillermo del Toro's Pinocchio,7.6,2022,December,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,"$35,000,000","$108,967","United States, Mexico, France"

### Should we replace the unknown income rows with mean  value? to get a idea 
### OR just drop the NA data there ??

#Change data type of the those 2 columns to integer
df['income'] = df1['Income'].astype(int)
df['budget'] = df1['Budget'].astype(int)
    
    
ValueError: invalid literal for int() with base 10: '$2,267,946,983 ' 
So need to get rid of currecncy symbols first. then operate with features in df.

In [ ]:
#df2['Budget'] = df2['Budget'].str.replace(',', '')
#df2['Budget'] = df2['Budget'].str.replace('$', '')
#df2['Income'] = df2['Income'].str.replace('$', '')
#df2['Income'] = df2['Income'].str.replace(',', '')
#df2['Income'] = df2['Income'].str.replace('Unknown', '0')
#df2['Budget'] = df2['Budget'].str.replace('Unknown', '0')


# Convert multiple columns to float type data
df2 = df2.astype({'Budget':'float','Income':'float'})

df2['Budget'] = df2['Budget'].astype(float)
df2['Income'] = df2['Income'].astype(float)
print(df.dtypes)

Same error msg pops up

In [ ]:
df2['Budget'] = df2['Budget'].astype(int)
df2['Income'] = df2['Income'].astype(int)

In [20]:
# Conversion function (converts currency and to float)
def convert_to_usd(amount):
    amount.replace(' ', '')
    amount.replace('\xa0', '')
    if amount.startswith('$'):
        amount = amount.strip('$').replace(',', '')   # must remove commas
        return float(amount)   # convert str into float
    elif amount.startswith('â¬'):
        # Exchange rate for EUR to USD
        amount = amount.strip('â¬').replace(',', '')
        return float(amount) * 1.06 
    elif amount.startswith('Â¥'):
        # Exchange rate for YEN to USD
        amount = amount.strip('Â¥').replace(',', '')
        return float(amount) * 0.0075
    elif amount.startswith('â¹'):
        # Exchange rate for RPL to USD
        amount = amount.strip('â¹').replace(',', '')
        return float(amount) * 0.012 
    elif amount.startswith('SEK'):
        # Exchange rate for SEK to USD
        amount = amount.strip('SEK').replace(',', '')
        return float(amount) * 0.094
    elif amount.startswith('DKK'):
        # Exchange rate for RPL to USD
        amount = amount.strip('DKK').replace(',', '')
        return float(amount) * 0.14
    elif amount.startswith('Â£'):
        # Exchange rate for RPL to USD
        amount = amount.strip('Â£').replace(',', '')
        return float(amount) * 1.21  
    else:
        return None

In [26]:
# 7. Applying the conversion function
df['Budget'] = df['Budget'].apply(convert_to_usd)
df['Income'] = df['Income'].apply(convert_to_usd)

AttributeError: 'float' object has no attribute 'replace'

In [29]:
df.head()  #

,Title,Rating,Year,Month,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
0,Avatar: The Way of Water,7.8,2022,December,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,350000000.0,2.267947e+09,United States
1,Guillermo del Toro's Pinocchio,7.6,2022,December,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,35000000.0,1.089670e+05,"United States, Mexico, France"
2,Bullet Train,7.3,2022,August,127,David Leitch,"Brad Pitt, Joey King, Aaron Taylor Johnson, Br...","Action, Comedy, Thriller",Japan,85900000.0,2.392686e+08,"Japan, United States"
3,The Banshees of Inisherin,7.8,2022,November,114,Martin McDonagh,"Colin Farrell, Brendan Gleeson, Kerry Condon, ...","Comedy, Drama",Ireland,NaN,1.972082e+07,"Ireland, United Kingdom, United States"
4,M3gan,6.4,2022,December,102,Gerard Johnstone,"Jenna Davis, Amie Donald, Allison Williams, Vi...","Horror, Sci-Fi, Thriller",New Zealand,12000000.0,1.712539e+08,United States

In [31]:
df_budget_missing = df['Budget'].isna().sum()
df_income_missing = df['Income'].isna().sum()

313
144

In [32]:
print(df_budget_missing)
print(df_income_missing)

313
144

In [34]:
# drop NaN values and calculate mean
budget_mean = df['Budget'].dropna().mean()

#mean of budget about $61M -- seems resonable
print(budget_mean)

# insert NaN rows with mean value
df['Budget'].fillna(budget_mean, inplace=True)

61466373.15900959

In [36]:
# drop NaN values and calculate mean
income_mean = df['Income'].dropna().mean()

#mean of income $188 M -- seems resonable
print(income_mean)

# insert NaN rows with mean value
df['Income'].fillna(income_mean, inplace=True)

188720624.70781675

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1999 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              1999 non-null   object
 1   Rating             1999 non-null   float64
 2   Year               1999 non-null   int64
 3   Month              1999 non-null   object
 4   Runtime            1999 non-null   object
 5   Directors          1999 non-null   object
 6   Stars              1999 non-null   object
 7   Genre              1999 non-null   object
 8   Filming_location   1999 non-null   object
 9   Budget             1999 non-null   float64
 10  Income             1999 non-null   float64
 11  Country_of_origin  1999 non-null   object
dtypes: float64(3), int64(1), object(8)
memory usage: 203.0+ KB

In [41]:
#profit = income - budget 

#def calc_profit(income, budget):
#    return income-budget

#df2['Profit']= calc_profit(df2['Income'], df2['Budget'])

# define a function to calculate the values for the new column
def calc_profit(row):
    return row['Budget'] + row['Income']

# apply the function to each row using the apply() method
df['Profit'] = df.apply(calc_profit, axis=1)


df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1999 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              1999 non-null   object
 1   Rating             1999 non-null   float64
 2   Year               1999 non-null   int64
 3   Month              1999 non-null   object
 4   Runtime            1999 non-null   object
 5   Directors          1999 non-null   object
 6   Stars              1999 non-null   object
 7   Genre              1999 non-null   object
 8   Filming_location   1999 non-null   object
 9   Budget             1999 non-null   float64
 10  Income             1999 non-null   float64
 11  Country_of_origin  1999 non-null   object
 12  Profit             1999 non-null   float64
dtypes: float64(4), int64(1), object(8)
memory usage: 218.6+ KB

In [ ]:
# when working with levels /categorical data, these below will come handy
from sklearn.preprocessing import LabelEncoder

In [ ]:
from sklearn.preprocessing import OneHotEncoder
import pandas.getdummies

In [ ]:
%%timeit

df2['Profit']= df2['Income'] - df2['Budget']