In [1]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.pyplot as plt

#load data
df = pd.read_csv('C:/Users/admin1/Documents/GitHub/ds22_project/data/movies.csv')

In [2]:
def replace_missing_values(df, column, replace_type = "mean"):

    # Step 1: Drop all rows that contain a non-numeric character
    non_numeric_rows = df[~df[column].str.isdigit()]
    df = df[df[column].str.isdigit()]

    # Step 2: Convert the column to an integer
    df[column] = df[column].astype(int)

    if(replace_type == "mean"):
        # Step 3: Calculate the average value of the column
        replace_mean = df[column].mean()
        replace_mean = round(replace_mean)
        non_numeric_rows.loc[~non_numeric_rows[column].str.isdigit(), column] = replace_mean
    else:
        # Step 3: Calculate the average value of the column
        replace_med = df[column].median()
        replace_med = round(replace_med)
        non_numeric_rows.loc[~non_numeric_rows[column].str.isdigit(), column] = replace_med

    # Step 4: Take back the dropped rows and replace their value with the average value
    #non_numeric_rows.loc[~non_numeric_rows[column].str.isdigit(), column] = avg
    df = pd.concat([df, non_numeric_rows])

    # Optional: Reset the index of the DataFrame
    df = df.reset_index(drop=True)
    
    #
    df[column] = df[column].astype(int)
    
    return df

In [3]:
def check_non_numeric(df, column):
    num_missing = df[column].isnull().sum()
    non_numeric = pd.to_numeric(df[column], errors="coerce").isnull().sum()

    # Step 1: Drop all rows that contain a non-numeric character
    non_numeric_rows = df[~df[column].str.isdigit()]
    df = df.loc[df[column].str.isdigit()]

    # Step 2: Convert the column to an integer
    df.loc[:, column] = df[column].astype(int)

    # Step 3: Calculate the average value of the column
    replace_mean = df[column].mean()
    replace_mean = round(replace_mean)

    # Step 3: Calculate the average value of the column
    replace_med = df[column].median()
    replace_med = round(replace_med)

    data = {'Missing Values': [num_missing],
            'non_numeric': [non_numeric],
            'replace_mean': [replace_mean],
            'replace_med': [replace_med]}

    df2 = pd.DataFrame(data)

    print(df2)

In [4]:


#short eda
df.info()
df.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              2000 non-null   object
 1   Rating             1999 non-null   float64
 2   Year               2000 non-null   int64
 3   Month              2000 non-null   object
 4   Certificate        1966 non-null   object
 5   Runtime            2000 non-null   object
 6   Directors          2000 non-null   object
 7   Stars              2000 non-null   object
 8   Genre              2000 non-null   object
 9   Filming_location   2000 non-null   object
 10  Budget             2000 non-null   object
 11  Income             2000 non-null   object
 12  Country_of_origin  2000 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 203.2+ KB

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,"$350,000,000","$2,267,946,983",United States
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,"$35,000,000","$108,967","United States, Mexico, France"

In [5]:
check_non_numeric(df, "Runtime")

   Missing Values  non_numeric  replace_mean  replace_med
0               0            2           113          110

C:\Users\admin1\anaconda3\envs\new_python_3_7_15\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [6]:
df = replace_missing_values(df, 'Runtime')

C:\Users\admin1\anaconda3\envs\new_python_3_7_15\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\admin1\anaconda3\envs\new_python_3_7_15\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Title              2000 non-null   object
 1   Rating             1999 non-null   float64
 2   Year               2000 non-null   int64
 3   Month              2000 non-null   object
 4   Certificate        1966 non-null   object
 5   Runtime            2000 non-null   int32
 6   Directors          2000 non-null   object
 7   Stars              2000 non-null   object
 8   Genre              2000 non-null   object
 9   Filming_location   2000 non-null   object
 10  Budget             2000 non-null   object
 11  Income             2000 non-null   object
 12  Country_of_origin  2000 non-null   object
dtypes: float64(1), int32(1), int64(1), object(10)
memory usage: 195.4+ KB

In [8]:
def replace_missing_values(df, "Budget")

ValueError: cannot convert float NaN to integer