In [1]:
import pandas as pd

In [2]:
dataset_raw = pd.read_csv('C:/Users/admin1/Documents/GitHub/ds22_project/data/movies.csv')
dataset_raw.head(2)

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,"$350,000,000","$2,267,946,983",United States
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,"$35,000,000","$108,967","United States, Mexico, France"

In [3]:
def director_ranking(dataset, original_column, new_column, file_column, file_ranking, breaking_points, file_location, separator=",", check_all_directors=False):
    
    # Only first or all directors
    if check_all_directors:
        dataset[new_column] = dataset[original_column].str.split(separator)
    else:
        dataset[new_column] = dataset[original_column].str.split(separator, expand=True)[0]

    # Importing the dataset with the values to be checked
    dataset_directors = pd.read_csv(file_location)

    # Create a new column to store the director rankings for each movie
    dataset[new_column+"_ranking"] = 0
    
    # Create a dictionary to map director names to their ranking
    director_rankings = {}
    top_directors = list(dataset_directors[file_column].head(breaking_points[0]))
    for director in top_directors:
        director_rankings[director] = 1
    for i in range(len(breaking_points)-1):
        next_directors = list(dataset_directors[file_column].iloc[breaking_points[i]:breaking_points[i+1]])
        for director in next_directors:
            director_rankings[director] = i+2

    # Iterate over the first director and set the ranking value accordingly
    first_director = dataset[new_column].str.split(',').str[0]
    ranking = len(breaking_points) + 1
    for i in range(len(breaking_points)):
        if first_director.iloc[0].strip() in director_rankings and 1 <= int(file_ranking.strip("Position")) <= breaking_points[0]:
            ranking = 1
            break
        elif first_director.iloc[0].strip() in director_rankings and breaking_points[i]+1 <= int(file_ranking.strip("Position")) <= breaking_points[i+1]:
            ranking = i+2
            break
    dataset[new_column+"_ranking"] = ranking
    
    # Drop unnecessary columns and rename the new column
    dataset.drop(columns=[original_column, new_column], inplace=True)
    dataset.rename(columns={new_column+"_ranking": new_column}, inplace=True)
    
    return dataset

dataset_new = director_ranking(dataset_raw, "Directors", "Top_50_Director", "Name", "Position", [10, 25, 50], "C:/Users/admin1/Documents/GitHub/ds22_project/data/top_50_directors.csv", check_all_directors=False)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
#dataset_new = director_ranking(dataset_raw, "Directors", "Top_50_Director", "Name", "C:/Users/admin1/Documents/GitHub/ds22_project/data/top_50_directors.csv", check_all_directors=False)

In [ ]:
dataset_new.head(122)

In [ ]:
#dataset_new.info()

In [ ]:
#count = (dataset_new['Top_50_Director'] > 0).sum()
#print(count)

In [ ]:
#dataset_new.to_csv('C:/zlatte1/test123.csv', index=False)