In [1]:
import pandas as pd

In [2]:
dataset_raw = pd.read_csv('movies.csv')
dataset_raw.head(2)

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,"$350,000,000","$2,267,946,983",United States
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,"$35,000,000","$108,967","United States, Mexico, France"

In [ ]:
def one_hot_encoding_dummy(column, seperator, dataset, y_column):
    dataset_processed_genre = dataset
    # 1. Creating a list with all genres mentioned in the dataset
    genre_list = []
    for genres in dataset_processed_genre[column]:
        genre_list.append(genres.split(seperator))

    # 2. Creating a list with genre categories
    unique_g= set()
    for genres in genre_list:
        for genre in genres:
            unique_g.add(genre)

    unique_genres = list(unique_g)
    amount = len(unique_genres)
    #return ((amount), (unique_genres))

    # 3. Creating a subtable with title as the first column followed by one 
    # column per genre
    genre_subtable = pd.DataFrame(columns=[y_column] + unique_genres)

    # 4. For each movie, assign 1 to those genres it has been assigned 
    for i, row in dataset_processed_genre.iterrows():
        new_row = {y_column: row[y_column]}
        for genre in unique_genres:
            new_row[genre] = 0
        for genre in row[column].split(seperator):
            new_row[genre] = 1
        genre_subtable = genre_subtable.append(new_row, ignore_index=True)

    # 5. Merging the subtable with the main dataset
    pivot_table = genre_subtable.melt(id_vars=y_column, var_name=column)
    pivot_table = pivot_table[pivot_table['value'] == 1]
    pivot_table = pivot_table.drop(columns=['value'])
    pivot_table = pivot_table.pivot_table(index=y_column, columns=column, aggfunc='size', fill_value=0).reset_index()

    # 7. Merge the pivot table with the original DataFrame
    dataset_processed_genre = pd.merge(dataset_processed_genre, pivot_table, on=y_column, how='left')
    dataset_processed_genre.drop(columns=[column], inplace=True)

    # 8. Checking the dataset shape
    return dataset_processed_genre
    #print('-----------------------------')
    #print(f'Current number of columns: {dataset_processed_genre.shape[1]}')
    #print(f'Current number of rows: {dataset_processed_genre.shape[0]}')
    
    
dataset_encoding =  one_hot_encoding_dummy("Genre", ", ", dataset_raw, "Title" )

In [ ]:
dataset_encoding.head()

In [ ]:
#dataset_encoding.to_csv('C:/zlatte1/dataset_encoding.csv', index=False)

In [ ]:
#dataset_encoding2 =  one_hot_encoding_dummy("Country_of_origin", ", ", dataset_encoding, "Title" )

In [ ]:
#dataset_encoding2.head()

In [ ]:
#dataset_encoding2.to_csv('C:/zlatte1/dataset_encoding.csv', index=False)