In [1]:
import pandas as pd

In [2]:
dataset_raw = pd.read_csv('C:/Users/admin1/Documents/GitHub/ds22_project/data/movies.csv')
dataset_raw.head(2)

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,"$350,000,000","$2,267,946,983",United States
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,"$35,000,000","$108,967","United States, Mexico, France"

In [3]:
import pandas as pd

def one_hot_encoding_binary(dataset, orginal_column, new_column_name, file_location, file_column="Name", separator=",", process_all_names=False):
    # 1. Splitting the original column based on the separator
    split_values = dataset[orginal_column].str.split(separator)

    # 2. Selecting only the first or all names based on the 'process_all_names' argument
    if process_all_names:
        values_to_process = split_values
    else:
        values_to_process = split_values.str[0]

    # 3. Creating the new column with binary values
    dataset[new_column_name] = values_to_process.isin(pd.read_csv(file_location)[file_column]).astype(int)

    # 4. Dropping the original column
    dataset.drop(columns=[orginal_column], inplace=True)

    # 5. Check the updated table
    #dataset.head(2)
    return dataset

In [4]:
dataset_prosscessed = one_hot_encoding_binary(dataset_raw, "Directors", "Top_50_Director", "C:/Users/admin1/Documents/GitHub/ds22_project/data/top_1000_actors.csv")

In [5]:
dataset_prosscessed.head()

,Title,Rating,Year,Month,Certificate,Runtime,Stars,Genre,Filming_location,Budget,Income,Country_of_origin,Top_50_Director
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,"$350,000,000","$2,267,946,983",United States,0
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,"$35,000,000","$108,967","United States, Mexico, France",0
2,Bullet Train,7.3,2022,August,R,127,"Brad Pitt, Joey King, Aaron Taylor Johnson, Br...","Action, Comedy, Thriller",Japan,"$85,900,000","$239,268,602","Japan, United States",0
3,The Banshees of Inisherin,7.8,2022,November,R,114,"Colin Farrell, Brendan Gleeson, Kerry Condon, ...","Comedy, Drama",Ireland,Unknown,"$19,720,823","Ireland, United Kingdom, United States",0
4,M3gan,6.4,2022,December,PG-13,102,"Jenna Davis, Amie Donald, Allison Williams, Vi...","Horror, Sci-Fi, Thriller",New Zealand,"$12,000,000","$171,253,910",United States,0

In [6]:
dataset_prosscessed.to_csv('C:/zlatte1/222222.csv', index=False)

In [ ]:
dataset_prosscessed.info()

In [ ]:
count_positive = (dataset_prosscessed['Top_50_Director'] > 0).sum()

# Print the count of positive values
print(count_positive)