In [1]:
import pandas as pd

In [2]:
dataset_raw = pd.read_csv('movies.csv')
dataset_raw.head(2)

,Title,Rating,Year,Month,Certificate,Runtime,Directors,Stars,Genre,Filming_location,Budget,Income,Country_of_origin
0,Avatar: The Way of Water,7.8,2022,December,PG-13,192,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver...","Action, Adventure, Fantasy",New Zealand,"$350,000,000","$2,267,946,983",United States
1,Guillermo del Toro's Pinocchio,7.6,2022,December,PG,117,"Guillermo del Toro, Mark Gustafson","Ewan McGregor, David Bradley, Gregory Mann, Bu...","Animation, Drama, Family",USA,"$35,000,000","$108,967","United States, Mexico, France"

In [4]:
def one_hot_encoding_bin(dataset, orginal_column, new_column_name, seperator, file_location):
    # 1. Only keeping the first director
    dataset[new_column_name] = dataset[orginal_column].str.split(seperator).str[0]

    # 2. Dropping the original column
    dataset.drop(columns=[orginal_column], inplace=True)

    # 1. Importing top directors dataset
    dataset_directors = pd.read_csv(file_location)

    # 2. If Director is in dataset_directors, replace name with 1
    # else replace name with 0
    replace = dataset[new_column_name].isin(dataset_directors['Name'])
    dataset[new_column_name] = replace.astype(int)

    # 3. Check the updated table
    dataset.head(2)
    print(f'Number of top 50 directors in dataset: {(dataset[new_column_name] == 1).astype(int).sum()}')

dataset_director = one_hot_encoding_bin(dataset_raw, "Directors", "Top_50_Director", ", ", "top_50_directors.csv")

NameError: name 'dataset_processed_1' is not defined

In [ ]:
dataset_encoding.head()

In [ ]:
#dataset_encoding.to_csv('C:/zlatte1/dataset_encoding.csv', index=False)